<<<<<<< HEAD
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" {{login}}>
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link {{home}}" href="/home"><i class="fas fa-home"></i> Home</a>
            </li>

            <li class="nav-item dropdown {{student}}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-graduate"></i>
                    Students
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/student">Students Registeration</a>
                    <a class="dropdown-item" href="#">Students Courses Registeration</a>
                    <a class="dropdown-item" href="#">Students List</a>
                </div>
            </li>
            <li class="nav-item dropdown {{teacher}}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-chalkboard-teacher"></i>
                    Teacher
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/teacher">Teacher Registeration</a>
                    <a class="dropdown-item" href="#">Teacher Courses Registeration</a>
                    <a class="dropdown-item" href="#">Teachers List</a>
                </div>
            </li>
            <li class="nav-item dropdown {{Active}}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    User
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Statistics</a>
                    <a class="dropdown-item" href="/admin">Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
            </li>
        </ul>

    </div>
=======
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" {{login}}>
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link {{home}}" href="/home"><i class="fas fa-home"></i> Home</a>
            </li>

            <li class="nav-item dropdown {{student}}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-graduate"></i>
                    Students
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/student">Students Registeration</a>
                    <a class="dropdown-item" href="#">Students Courses Registeration</a>
                    <a class="dropdown-item" href="#">Students List</a>
                </div>
            </li>
            <li class="nav-item dropdown {{teacher}}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-chalkboard-teacher"></i>
                    Teacher
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/teacher">Teacher Registeration</a>
                    <a class="dropdown-item" href="#">Teacher Courses Registeration</a>
                    <a class="dropdown-item" href="#">Teachers List</a>
                </div>
            </li>
            <li class="nav-item dropdown {{Active}}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    User
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Statistics</a>
                    <a class="dropdown-item" href="/admin">Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
            </li>
        </ul>

    </div>
>>>>>>> InCompleated"
</nav>