<<<<<<< HEAD
<table class="table table-bordered" style="padding:1%">
    <thead>
        <tr>
            <th scope="col">Student ID</th>
            <th scope="col">Student Name</th>
            <th scope="col">Course Grade</th>
            <th scope="col">Student Number</th>
            <th scope="col">Parents Number</th>
            <th scope="col">Course Cost</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.StudentID}}</td>
            <td>{{this.StudentName}}</td>
            <td>{{this.coursegrade}}</td>
            <td>{{this.StudentNumber}}</td>
            <td>{{this.ParentsNumber}}</td>
            <td>{{this.courseCost}}</td>

        </tr>
        {{/each}}
    </tbody>
=======
<table class="table table-bordered" style="padding:1%">
    <thead>
        <tr>
            <th scope="col">Student ID</th>
            <th scope="col">Student Name</th>
            <th scope="col">Course Grade</th>
            <th scope="col">Student Number</th>
            <th scope="col">Parents Number</th>
            <th scope="col">Course Cost</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.StudentID}}</td>
            <td>{{this.StudentName}}</td>
            <td>{{this.coursegrade}}</td>
            <td>{{this.StudentNumber}}</td>
            <td>{{this.ParentsNumber}}</td>
            <td>{{this.courseCost}}</td>

        </tr>
        {{/each}}
    </tbody>
>>>>>>> InCompleated"
</table>